<div id="changePasswordModal" *ngIf="isVisible" class="popup-container">
  <div class="popup-close" (click)="onClose()"></div>
  <div class="popup-content">
    <span class="close-button" (click)="onClose()"></span>
    <div class="PasswordForm">
      <form #changePsswdFrm="ngForm" autocomplete="nope" (ngSubmit)="onSubmit()">
        <h3>{{globals.strings.CHANGE_PASSWORD_ENTER_PASSWORD}}</h3>
        <br>

        <div id="changePasswordMessages" *ngIf="opCompleted" [ngClass]="{'greenSuccess': successState, 'redFailure': !successState}">
          <p>{{messages}}</p>
        </div>



        <div class="PasswordInput">
          <p>{{globals.strings.CHANGE_PASSWORD_SCREEN_OLD_PASSWORD}}</p>
          <input #inputOldPasswd [(ngModel)]="oldPassword" type="password" ng-model="password" name="oldPassword" id="oldPassword" autocomplete="new-password" value="" required>
        </div><br>
        <div class="PasswordInput">
          <p>{{globals.strings.CHANGE_PASSWORD_SCREEN_NEW_PASSWORD}}</p>
          <input [(ngModel)]="newPassword" type="{{showPassword ? 'text' : 'password'}}" name="newPassword" id="newPassword" autocomplete="new-password" value="" required>
          <span class="fa" [ngClass]="{'fa-eye-slash': !showPassword, 'fa-eye': showPassword}" (click)="toggleEye()"></span>
        </div><br>
        <button type="submit" class="butn butn-success" [disabled]="!changePsswdFrm.form.valid">{{globals.strings.BUTTON_CONFIRM}}</button>
      </form>
    </div>
  </div>
</div>
