<div *ngIf="isVisible" class="popup-container">
  <div class="popup-close" (click)="isVisible=false"></div>
  <div class="popup-content">
    <div>
      <span class="close-button" (click)="isVisible=false"></span>
      <div style="text-align:center;">
        <p>{{globals.strings.SCREEN_RECOVER_PIN}}</p>
        <p>{{globals.strings.INFO_PIN_RECOVER}}</p>
        <button (click)="hidePopup();">{{globals.strings.BUTTON_CANCEL}}</button>
        <button (click)="sendEmail();">{{globals.strings.BUTTON_CONFIRM}}</button>
      </div>
    </div>
  </div>
</div>
